.main-div{
    width: 100%;
    padding: 60px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.main-div p{
    color: #111;
    text-align: center;
    padding-bottom: 40px;
    flex-basis: 100%;
    text-transform: uppercase;
    font-size: 2.2rem;
}

.main-div-box{
    width: 20rem;
    height: 20rem;
    background-color: #111;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
}

.main-div-box:nth-child(2){
    background-image: url(../images/pokeball.png);
}

.main-div-box:nth-child(3){
    background-image: url(../images/pokeball.png);
}

.main-div-box:nth-child(4){
    background-image: url(../images/pokeball.png);
}

.main-div-box:nth-child(5){
    background-image: url(../images/pokeball.png);
}

.main-div-box:nth-child(6){
    background-image: url(../images/pokeball.png);
}

.main-div-box:nth-child(7){
    background-image: url(../images/pokeball.png);
}

.dark-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    transition: all ease-in-out 200ms;
}

.main-div-box:hover .dark-overlay{
    opacity: 0;
}

.main-div-box h1{
    font-size: 2.2rem;
    line-height: 1.5;
    text-align: center;
    text-shadow: -2px 2px 4px #000;
    z-index: 100;
    color: rgb(7, 212, 7);
}